body  
{ 
    font-family: Lato, Times New Roman, sans-serif; 
    background-color: darkblue;
    color: white;
}

h1 {
    border: 10px solid #65a6db;
    background-color: lightblue; 
    padding: 30px; 
    text-align: center; 
    font-size: 35px; 
    color: white; 
}
.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }
